/* Navbar */
.navbar {
  background: transparent !important;
  padding: 0.4rem 1rem;
}

.navbar-nav {
  align-items: flex-start;   /* push links to top */
}

.navbar-brand img {
  width: 150px;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20PX;
   padding-top: 0;           /* remove extra vertical padding */
  padding-bottom: 0;
}

.nav-link:hover{
  color: #FFA600 !important;
}

/* Hero Section */
.hero-section {
  background: url('images/tXcDQ2.jpg') no-repeat center center/cover;
  height: 700PX;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5); /* overlay */
}

.hero-section .container {
  position: relative;
  z-index: 1;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;  /* full screen height */
  background: linear-gradient(to bottom, black, #444); 

}




/* Upcoming Events Section */
.upcoming-events {
  background: #000; /* black background */
}

.section-title {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.event-card {
  background: #111; /* dark card background */
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px); /* hover effect */
}

.event-card img {
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.event-card h5 {
  font-size: 20px;
}

.event-card p {
  margin: 0;
  font-size: 16px;
  color: #ccc;
}

.event-card .btn {
  margin-top: 10px;
  border-radius: 20px;
  padding: 8px 20px;
}

.btn:hover{
  background-color: rgb(87, 255, 87);
}